@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

body a, body a:visited, body a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
  border-color: none;
}

body ol, body ul, body li {
  padding: 0px;
  margin: 0px;
}

.container-clients-gallery {
  max-width: 1750px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  .container-clients-gallery {
    max-width: 100%;
    padding: 0;
  }
}

html, body {
  height: 100%;
  position: relative;
  scrollbar-color: rgba(0, 0, 0, 0.01);
  background-color: #ffffff;
}

::-webkit-scrollbar {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.01);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.01);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.01);
}

.container {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-1920-f {
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (max-width: 1600px) {
  .container-1920-f {
    max-width: 1510px;
  }
}
@media screen and (max-width: 1440px) {
  .container-1920-f {
    max-width: 1350px;
  }
}
@media screen and (max-width: 1366px) {
  .container-1920-f {
    max-width: 1276px;
  }
}
@media screen and (max-width: 1280px) {
  .container-1920-f {
    max-width: 1190px;
  }
}
@media screen and (max-width: 1024px) {
  .container-1920-f {
    max-width: 934px;
  }
}
@media screen and (max-width: 768px) {
  .container-1920-f {
    max-width: 678px;
  }
}

.container-1920 {
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (max-width: 1600px) {
  .container-1920 {
    max-width: 1510px;
  }
}
@media screen and (max-width: 1440px) {
  .container-1920 {
    max-width: 1350px;
  }
}
@media screen and (max-width: 1366px) {
  .container-1920 {
    max-width: 1276px;
  }
}
@media screen and (max-width: 1280px) {
  .container-1920 {
    max-width: 1190px;
  }
}
@media screen and (max-width: 1024px) {
  .container-1920 {
    max-width: 934px;
  }
}
@media screen and (max-width: 768px) {
  .container-1920 {
    max-width: 678px;
  }
}

.container-about {
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-1390 {
  max-width: 1390px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  .container-1390 {
    max-width: 1110px;
  }
}
@media screen and (max-width: 1024px) {
  .container-1390 {
    max-width: 934px;
  }
}
@media screen and (max-width: 768px) {
  .container-1390 {
    max-width: 678px;
  }
}
@media screen and (max-width: 767px) {
  .container-1390 {
    padding: 0 30px;
  }
}

.fixed {
  overflow: hidden;
  width: 100%;
}

.scroll {
  overflow: auto;
  scrollbar-color: transparent;
}
.scroll::-webkit-scrollbar {
  width: 1px;
  background-color: transparent;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.scroll::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

#menu__toggle {
  opacity: 0;
}

.picture {
  display: block;
  font-size: 0;
}

.burger {
  z-index: 3;
  width: 100%;
  position: fixed;
  background-color: #323264;
  top: 110%;
  left: 0;
  bottom: 0;
  right: 0;
}
.burger-btn {
  display: none;
}
@media screen and (max-width: 524px) {
  .burger-btn {
    display: block;
  }
}
.burger__navigation {
  position: relative;
}
.burger__container {
  max-height: 100vh;
  max-width: 95%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  left: 2%;
  top: 15%;
  overflow: hidden;
  background-color: #ffffff;
  padding: 64px 12px;
  border-radius: 12px;
}
.burger__container-closeLink {
  position: absolute;
  top: 3%;
  right: 3%;
}
.burger.show .burger__container {
  animation: menu-burger 1.1s ease-in-out 1 normal forwards;
  opacity: 1;
  pointer-events: initial;
}
@keyframes menu-burger {
  0% {
    top: 110%;
    left: 0;
    bottom: 0;
    right: 0;
  }
  100% {
    right: 0;
    left: 2%;
    top: 15%;
  }
}
.burger__item a {
  font: 700 1.5rem "Montserrat";
  line-height: 1.8125rem;
  font-style: normal;
  text-align: center;
  display: block;
  padding: 7px 0;
  color: #24A3FF;
  background-color: #F5F5FA;
  border-radius: 12px;
}
.burger__item a:active {
  background-color: #E6E6F0;
}
.burger__item a:hover {
  background-color: #E6E6F0;
  color: #F0145A;
}
.burger.show {
  top: 0;
}
.burger__list-menu {
  display: none;
}
@media screen and (max-width: 524px) {
  .burger__list-menu {
    display: block;
    height: 65vh;
  }
}
.burger__list-menu li {
  margin: 22px 0;
}

.menu__btn svg {
  stroke: #ffffff;
  fill: none;
  z-index: 3;
  position: absolute;
  right: 22px;
  top: 57.5px;
}
.menu__btn svg:hover {
  fill: #E6E6F0;
  border-radius: 8px;
}

.header {
  background-color: #323264;
}
@media screen and (min-width: 525px) {
  .header:before {
    content: "";
    display: none;
  }
}
@media screen and (max-width: 524px) {
  .header:before {
    content: "";
    height: 45px;
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    background: rgba(245, 245, 250, 0.2);
  }
}
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .header-flex {
    display: block;
  }
}
@media screen and (max-width: 524px) {
  .header-flex {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 375px) {
  .header-flex {
    padding-top: 15px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .header__logo-img, .header__logo-text, .header picture {
    margin-top: 56px;
  }
}
@media screen and (max-width: 524px) {
  .header__logo-img, .header__logo-text, .header picture {
    margin-top: 15px;
  }
}
@media screen and (max-width: 626px) {
  .header__logo-img, .header__logo-text, .header picture {
    position: relative;
    z-index: 2;
  }
}
@media screen and (max-width: 375px) {
  .header__logo-img, .header__logo-text, .header picture {
    margin-top: 0px;
  }
}
.header__logo-img:hover, .header__logo-text:hover, .header picture:hover {
  filter: drop-shadow(1px 1px 5px #000000);
  transition: all ease-in-out 0.3s;
}
.header__logo-item-1 {
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 750px) {
  .header__logo-item-1 {
    position: relative;
    z-index: 2;
  }
}
.header__logo-item-2 {
  margin-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .header__logo-item-2 {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 750px) {
  .header__logo-item-2 {
    position: relative;
    z-index: 2;
  }
}
@media screen and (max-width: 375px) {
  .header__logo-item-2 {
    display: none;
  }
}
.header__logo-text {
  font: 400 2.25rem "Montserrat";
  line-height: 2.75rem;
  font-style: normal;
  color: #ffffff;
}
@media screen and (max-width: 375px) {
  .header__logo-text {
    font: 400 1.25rem "Montserrat";
    line-height: 1.5rem;
  }
}
.header__info {
  z-index: 1;
}
.header__info-contacts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 18.5px;
}
@media screen and (max-width: 768px) {
  .header__info-contacts {
    margin-bottom: 0;
  }
}
.header__info-contacts-list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header__info-contacts-list {
    position: absolute;
    top: 6%;
    left: 7%;
    z-index: 2;
  }
}
@media screen and (max-width: 524px) {
  .header__info-contacts-list {
    width: 100%;
    justify-content: space-between;
    top: 1.5%;
    left: 0%;
  }
}
.header__info-contacts-list a > svg {
  fill: #ffffff;
  transition: all ease-in-out 0.3s;
}
.header__info-contacts-list a > svg:hover {
  fill: #F0145A;
  transition: all ease-in-out 0.3s;
}
.header__info-contacts-list li.regular {
  font: 400 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .header__info-contacts-list li.regular {
    color: #B3B3BA;
  }
}
@media screen and (max-width: 524px) {
  .header__info-contacts-list li.regular, .header__info-contacts-list li.hide {
    display: none;
  }
}
@media screen and (max-width: 524px) {
  .header__info-contacts-list li.position-375 {
    margin-right: 22px;
  }
}
.header__info-contacts-list li.regular + li a {
  font: 700 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #ffffff;
}
.header__info-contacts-list li.dot:after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #E6E6F0;
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: middle;
}
@media screen and (max-width: 524px) {
  .header__info-contacts-list li.dot:after {
    content: "";
    display: none;
    width: 0px;
    height: 0px;
    border-radius: 0;
    background-color: transparent;
  }
}
@media screen and (max-width: 524px) {
  .header__info-contacts-list li.position-375 a {
    width: 105px;
    top: 2%;
    left: 245%;
  }
}
@media screen and (max-width: 320px) {
  .header__info-contacts-list li.position-375 a {
    left: 189%;
  }
}
.header__info-contacts-sublist {
  display: flex;
}
@media screen and (max-width: 524px) {
  .header__info-contacts-sublist {
    margin-left: 7px;
  }
}
.header__info-contacts-sublist li a {
  font: 700 0.75rem "Montserrat";
  line-height: 0.9375rem;
  font-style: normal;
  color: #ffffff;
  padding: 5px 7px;
  border-radius: 8px;
  background-color: none;
}
.header__info-contacts-sublist li:nth-of-type(3) a:link, .header__info-contacts-sublist li:nth-of-type(3) a {
  background-color: #F0145A;
  color: #ffffff;
  transition: all ease-in-out 0.3s;
}
.header__info-contacts-sublist li:nth-of-type(3) a:hover, .header__info-contacts-sublist li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  transition: all ease-in-out 0.3s;
}
.header__info-contacts-sublist li:nth-of-type(3):after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #E6E6F0;
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: middle;
}
@media screen and (max-width: 524px) {
  .header__info-contacts-sublist li:nth-of-type(3):after {
    content: "";
    display: none;
    width: 0px;
    height: 0px;
    border-radius: 0;
    background-color: transparent;
  }
}
.header__info-navigation-list {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .header__info-navigation-list {
    justify-content: flex-start;
    position: relative;
    z-index: 2;
  }
}
@media screen and (max-width: 524px) {
  .header__info-navigation-list {
    display: none;
  }
}
.header__info-navigation-list li:not(:last-of-type) {
  margin-right: 15px;
}
.header__info-navigation-list li:nth-of-type(2) a:link, .header__info-navigation-list li:nth-of-type(2) a {
  font: normal 700 1rem/1.25rem "Montserrat";
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
  padding-bottom: 3px;
}
.header__info-navigation-list li a {
  font: normal 700 1rem/1.25rem "Montserrat";
  color: #ffffff;
  transition: all ease-in-out 0.3s;
}
.header__info-navigation-list li a:hover {
  font: normal 700 1rem/1.25rem "Montserrat";
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 3px;
  transition: all ease-in-out 0.3s;
}
.header__info-navigation-list li a:active {
  font: normal 700 1rem/1.25rem "Montserrat";
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
  padding-bottom: 3px;
}

.main {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  padding-top: 30px;
}
@media screen and (max-width: 524px) {
  .main {
    padding-top: 0px;
  }
}

.main__services {
  margin-bottom: 48px;
}
.main__services-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 60px;
  column-gap: 60px;
}
@media screen and (max-width: 375px) {
  .main__services-container {
    row-gap: 0px;
  }
}
.main__services-item {
  max-width: 29.333%;
}
@media screen and (max-width: 1366px) {
  .main__services-item {
    max-width: 28.333%;
  }
}
@media screen and (max-width: 919px) {
  .main__services-item {
    max-width: 27.333%;
  }
}
@media screen and (max-width: 786px) {
  .main__services-item {
    max-width: 26.333%;
  }
}
@media screen and (max-width: 768px) {
  .main__services-item {
    max-width: 45.333%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 702px) {
  .main__services-item {
    max-width: 44.333%;
  }
}
@media screen and (max-width: 589px) {
  .main__services-item {
    max-width: 43.333%;
  }
}
@media screen and (max-width: 509px) {
  .main__services-item {
    max-width: 100%;
  }
}
.main__services-label {
  font: normal 700 2.375rem/2.875rem "Montserrat";
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  max-width: 1600px;
  overflow: hidden;
  margin-bottom: 60px;
}
@media screen and (max-width: 375px) {
  .main__services-label {
    margin-bottom: 30px;
  }
}
.main__services-item-link {
  display: block;
  background-color: #ffffff;
  width: 92px;
  height: 92px;
  border-radius: 24px;
  position: relative;
  margin-bottom: 30px;
}
.main__services-item-link svg {
  position: absolute;
  top: 14px;
  left: 14px;
}
.main__services-text {
  overflow: hidden;
  height: 55px;
  margin-bottom: 15px;
}
.main__services-text a {
  font: 700 1.375rem "Montserrat";
  line-height: 1.6875rem;
  font-style: normal;
  color: #24A3FF;
  transition: all ease-in-out 0.3s;
  vertical-align: middle;
}
.main__services-text a:hover {
  color: #F0145A;
  transition: all ease-in-out 0.3s;
}
.main__services-desc {
  font: normal 400 1rem/1.625rem "Montserrat";
  color: #ffffff;
  overflow: hidden;
}

.main__services-content-general {
  text-align: center;
}
.main__services-content span.center {
  margin: 0 auto 28px auto;
}
.main__services-content-text {
  font: normal 700 2.375rem/2.875rem "Montserrat";
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 28px;
}
@media screen and (max-width: 767px) {
  .main__services-content-text {
    font: normal 700 1.875rem/2.3125rem "Montserrat";
  }
}
.main__services-content-desc:not(:last-of-type) {
  margin-bottom: 10px;
}
.main__services-content-desc:last-of-type {
  margin-bottom: 28px;
}
.main__services-content-btn {
  display: inline-block;
  background-color: #24A3FF;
  padding: 18px 30px;
  border-radius: 12px;
  color: #ffffff;
  font: 700 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  margin-bottom: 60px;
}
@media screen and (max-width: 540px) {
  .main__services-content-btn {
    margin-bottom: 30px;
  }
}
.main__services-content-list {
  padding-bottom: 10px;
}
.main__services-content-list:before {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 0 30px 0;
}
.main__services-content-label {
  font: 700 1.375rem "Montserrat";
  line-height: 1.6875rem;
  font-style: normal;
  color: #ffffff;
  margin-bottom: 30px;
}
.main__services-content-block {
  display: flex;
  column-gap: 60px;
}
@media screen and (max-width: 540px) {
  .main__services-content-block {
    display: block;
  }
}
.main__services-content-block-item {
  width: 50%;
}
@media screen and (max-width: 540px) {
  .main__services-content-block-item {
    width: 100%;
  }
}
.main__services-content-block-item li {
  font: 400 1.125rem "Montserrat";
  line-height: 1.625rem;
  font-style: normal;
  color: #ffffff;
  margin-bottom: 15px;
  list-style-type: disc;
  margin-left: 18px;
}
.main__services-content-block-item li::marker {
  color: #F0145A;
}
.main__services-content-block-item li:last-of-type {
  margin-bottom: 0;
}

.main__publications {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F5F5FA;
}
.main__publications-subitem {
  padding: 30px;
}
.main__publications-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: space-between;
  column-gap: 30px;
  margin-bottom: 30px;
}
.main__publications-item {
  width: 31.333%;
  background-color: #ffffff;
  border-radius: 8px;
}
@media screen and (max-width: 1119px) {
  .main__publications-item {
    width: 30.333%;
  }
}
@media screen and (max-width: 960px) {
  .main__publications-item {
    width: 47.333%;
  }
}
@media screen and (max-width: 650px) {
  .main__publications-item {
    width: 100%;
  }
}
@media screen and (max-width: 960px) {
  .main__publications-item:last-of-type {
    width: 100%;
  }
}
.main__publications-item img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.main__publications-text {
  margin-bottom: 15px;
  max-height: 100px;
  overflow: hidden;
}
.main__publications-text a {
  font: 700 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #24A3FF;
  transition: all ease-in-out 0.3s;
}
.main__publications-text a:hover {
  color: #F0145A;
  transition: all ease-in-out 0.3s;
}
.main__publications-date {
  font: 700 0.75rem "Montserrat";
  line-height: 0.9375rem;
  font-style: normal;
  color: #B3B3BA;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.main__publications-date:after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: #E6E6F0;
  margin: 15px 0;
}
.main__publications-desc {
  font: 400 0.875rem "Montserrat";
  line-height: 1.375rem;
  font-style: normal;
  color: #000000;
}
.main__publications-button {
  max-width: fit-content;
  margin: auto;
  background-color: #24A3FF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
}
.main__publications-button a {
  display: block;
  font: 700 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #ffffff;
  padding: 18px 30px;
}
.main__publications-button:hover {
  background-color: #F0145A;
  transition: all ease-in-out 0.3s;
}

.main-article__publications {
  background-color: #ffffff;
  padding: 110px 0 0 0;
}
.main-article__publications-color {
  background-color: #F5F5FA;
  padding: 30px 0;
}
.main-article__publications-link {
  font: normal 700 0.875rem/1.0625rem "Montserrat";
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #24A3FF;
  transition: all ease-in-out 0.3s;
  margin-bottom: 10px;
  display: block;
}
.main-article__publications-link:hover {
  color: #F0145A;
  transition: all ease-in-out 0.3s;
}
.main-article__publications-label {
  font: normal 700 2.375rem/2.875rem "Montserrat";
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .main-article__publications-label {
    font: normal 700 1.875rem/2.3125rem "Montserrat";
  }
}
.main-article__publications-block {
  margin-bottom: 0;
}

.additional-round-corner {
  position: relative;
  display: block;
}
.additional-round-corner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  background: linear-gradient(302deg, #323264 54.93%, #323264 35.17%, #643E72 107.46%);
  border-radius: 0 0 12px 12px;
  width: 100%;
}
@media screen and (max-width: 1440px) {
  .additional-round-corner:after {
    background: linear-gradient(302deg, #323264 53.93%, #323264 27.17%, #643E72 112.46%);
  }
}
@media screen and (max-width: 1024px) {
  .additional-round-corner:after {
    background: linear-gradient(302deg, #323264 53.93%, #323264 35.17%, #643E72 120.46%);
  }
}
@media screen and (max-width: 768px) {
  .additional-round-corner:after {
    background: linear-gradient(302deg, #323264 23.93%, #323264 20.17%, #643E72 128.46%);
  }
}
@media screen and (max-width: 375px) {
  .additional-round-corner:after {
    background: linear-gradient(302deg, #323264 -67.07%, #323264 -24.83%, #643E72 165.46%);
  }
}
@media screen and (max-width: 320px) {
  .additional-round-corner:after {
    background: linear-gradient(302deg, #323264 -56.07%, #323264 -41.83%, #643E72 161.46%);
  }
}
.additional-line-1 {
  position: relative;
  display: block;
}
.additional-line-1:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 20px;
  right: 20px;
  height: 10px;
  background-color: #CACADB;
  border-radius: 0px 0px 12px 12px;
}
.additional-line-2 {
  position: relative;
  display: block;
}
.additional-line-2:after {
  content: "";
  position: absolute;
  top: 22px;
  left: 40px;
  height: 10px;
  right: 40px;
  background-color: #E6E6F0;
  border-radius: 0px 0px 12px 12px;
}

.modal {
  position: fixed;
  top: 110%;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #323264;
  z-index: 4;
}
.modal__subscribe {
  opacity: 0;
  pointer-events: none;
  display: inline-block;
  position: absolute;
  left: calc(50% - 325px);
  top: calc(50% - 306px);
}
@media screen and (max-width: 768px) {
  .modal__subscribe {
    left: calc(50% - 200px);
  }
}
@media screen and (max-width: 510px) {
  .modal__subscribe {
    left: calc(50% - 175px);
  }
}
@media screen and (max-width: 375px) {
  .modal__subscribe {
    left: calc(50% - 165px);
  }
}
@media screen and (max-width: 374px) {
  .modal__subscribe {
    left: calc(50% - 137.5px);
  }
}
.modal__subscribe .btn-submit {
  display: block;
  background-color: #24A3FF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  color: #ffffff;
  margin-top: 20px;
  padding: 10px;
}
.modal.show {
  top: 0;
}
.modal.show .modal__subscribe {
  transition: all ease-in 1s;
  opacity: 1;
  pointer-events: initial;
}
.modal__label {
  margin: 10px;
}

.main__form {
  max-width: 650px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .main__form {
    max-width: 400px;
  }
}
@media screen and (max-width: 510px) {
  .main__form {
    max-width: 350px;
  }
}
@media screen and (max-width: 375px) {
  .main__form {
    max-width: 330px;
  }
}
@media screen and (max-width: 374px) {
  .main__form {
    max-width: 275px;
  }
}
.main__form svg {
  stroke: #323264;
  fill: none;
  z-index: 3;
  position: absolute;
  right: 22px;
  top: 52.5px;
}
.main__form .link-style {
  position: absolute;
  top: -3%;
  right: 3%;
}
.main__form input, .main__form textarea, .main__form button {
  display: block;
  width: 100%;
}
.main__form form {
  padding: 30px;
  background-color: #F5F5FA;
  border-radius: 12px;
  color: #000000;
}
.main__form-label {
  font: normal 700 2.375rem/2.875rem "Montserrat";
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-top: 0px;
  margin-bottom: 30px;
}
@media screen and (max-width: 820px) {
  .main__form-label {
    font: normal 700 1.875rem/2.3125rem "Montserrat";
  }
}
@media screen and (max-width: 510px) {
  .main__form-label {
    max-width: 240px;
  }
}
@media screen and (max-width: 374px) {
  .main__form-label {
    max-width: 177px;
    font: normal 700 1.5rem/2rem "Montserrat";
  }
}
.main__form input, .main__form textarea {
  padding: 15px 15px 15px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 8px;
  resize: none;
  transition: all ease-in-out 0.3s;
}
.main__form input:focus, .main__form textarea:focus {
  border-color: #24A3FF;
  transition: all ease-in-out 0.3s;
}
.main__form input::placeholder, .main__form textarea::placeholder {
  font: 400 1rem "Montserrat";
  line-height: 1.625rem;
  font-style: normal;
  color: #B3B3BA;
}
.main__form input:not(:last-of-type) {
  margin-bottom: 15px;
}
.main__form input:last-of-type, .main__form textarea {
  margin-bottom: 30px;
}
.main__form-text {
  font: normal 700 0.875rem/1.0625rem "Montserrat";
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #B3B3BA;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.main__form button {
  padding: 18px 0;
  border-radius: 12px;
  background-color: #24A3FF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  color: #ffffff;
  border-color: transparent;
  font: 700 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  transition: all ease-in-out 0.3s;
}
.main__form button:hover {
  background-color: #0085FF;
  transition: all ease-in-out 0.3s;
}
.main__form button:active {
  background-color: #006CCF;
  transition: all ease-in-out 0.3s;
}

.main__clients-gallery {
  padding-top: 30px;
  background-color: #ffffff;
  padding-bottom: 60px;
}
@media screen and (max-width: 1024px) {
  .main__clients-gallery {
    padding-bottom: 0px;
  }
}
.main__clients-gallery-label {
  font: normal 700 0.875rem/1.0625rem "Montserrat";
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #323264;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 60px;
}
.main__clients-gallery-container {
  display: flex;
  flex-wrap: wrap;
}
.main__clients-gallery .color-1 {
  background-color: #1C4280;
  border-radius: 12px 0 0 0;
}
@media screen and (max-width: 1440px) {
  .main__clients-gallery .color-1 {
    border-radius: 0;
  }
}
.main__clients-gallery .color-2 {
  background-color: #143646;
}
.main__clients-gallery .color-3 {
  background-color: #F48B30;
}
.main__clients-gallery .color-4 {
  background-color: #9E4DC3;
  border-radius: 0 12px 0 0;
}
@media screen and (max-width: 1440px) {
  .main__clients-gallery .color-4 {
    border-radius: 0;
  }
}
.main__clients-gallery .color-5 {
  background-color: #FD9339;
}
.main__clients-gallery .color-6 {
  background-color: #E2E2E4;
}
.main__clients-gallery .color-7 {
  background-color: #C71C36;
}
.main__clients-gallery .color-8 {
  background-color: #DCF3F9;
}
.main__clients-gallery .color-9 {
  background-color: #EAEAEA;
  border-radius: 0 0 0 12px;
}
@media screen and (max-width: 1440px) {
  .main__clients-gallery .color-9 {
    border-radius: 0;
  }
}
.main__clients-gallery .color-10 {
  background-color: #282240;
}
.main__clients-gallery .color-11 {
  background-color: #1D4568;
}
.main__clients-gallery .color-12 {
  background-color: #000000;
  border-radius: 0 0 12px 0;
}
@media screen and (max-width: 1440px) {
  .main__clients-gallery .color-12 {
    border-radius: 0;
  }
}
.main__clients-gallery-item {
  width: 25%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.3s;
}
@media screen and (max-width: 1024px) {
  .main__clients-gallery-item {
    width: 33.333%;
  }
}
@media screen and (max-width: 673px) {
  .main__clients-gallery-item {
    width: 100%;
  }
  .main__clients-gallery-item:not(:nth-of-type(-n+6)) {
    display: none;
  }
}
.main__clients-gallery-item:hover {
  transform: scale(1.03);
  box-shadow: 2px 2px 5px 2px #686887, inset 2px 2px 5px 2px #686887;
  transition: all ease-in-out 0.3s;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .main__clients-gallery-item:hover {
    transform: none;
    border-radius: 0;
  }
}

.line-footer:before {
  content: "";
  display: block;
  text-align: center;
  height: 2px;
  margin: 0px auto 30px auto;
  background-color: #E6E6F0;
  width: 100%;
}

.footer {
  background-color: #F5F5FA;
  padding: 0 0px 30px 0px;
}
.footer__flex {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 768px) {
  .footer__flex {
    display: block;
  }
}
@media screen and (max-width: 630px) {
  .footer__flex {
    max-width: 100%;
    text-align: center;
  }
}
.footer__info-adress ul {
  display: flex;
  margin-bottom: 21px;
  align-items: center;
}
@media screen and (max-width: 630px) {
  .footer__info-adress ul {
    display: block;
    max-width: 100%;
  }
}
.footer__info-adress ul li:not(:last-of-type):after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #E6E6F0;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
@media screen and (max-width: 630px) {
  .footer__info-adress ul li:not(:last-of-type):after {
    content: "";
    display: none;
    width: 0px;
    height: 0px;
    border-radius: 0;
    background-color: transparent;
  }
}
.footer__info-adress ul li.regular {
  font: 400 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #B3B3BA;
  margin-bottom: 10px;
}
.footer__info-adress ul li.ft-link a {
  font: 700 0.75rem "Montserrat";
  line-height: 0.9375rem;
  font-style: normal;
  color: #24A3FF;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer__info-adress ul li.ft-link {
  margin-bottom: 10px;
}
.footer__info-contacts ul {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .footer__info-contacts ul {
    margin-bottom: 39px;
  }
}
@media screen and (max-width: 630px) {
  .footer__info-contacts ul {
    display: block;
    max-width: 100%;
    margin-bottom: 21px;
  }
}
@media screen and (max-width: 630px) {
  .footer__info-contacts ul li {
    margin-bottom: 10px;
  }
}
.footer__info-contacts ul li a {
  display: inline-block;
}
.footer__info-contacts ul li:not(:first-of-type):before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #E6E6F0;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
@media screen and (max-width: 630px) {
  .footer__info-contacts ul li:not(:first-of-type):before {
    content: "";
    display: none;
    width: 0px;
    height: 0px;
    border-radius: 0;
    background-color: transparent;
  }
}
.footer__info-contacts ul li:nth-of-type(2) a {
  font: 700 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #46466E;
}
.footer__info-contacts ul li:last-of-type a {
  text-decoration: none;
  font: 700 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #24A3FF;
  transition: all ease-in-out 0.3s;
}
.footer__info-contacts ul li:last-of-type a:hover {
  color: #F0145A;
  transition: all ease-in-out 0.3s;
}
.footer__info-contacts ul li a > svg {
  fill: #24A3FF;
  transition: all ease-in-out 0.3s;
}
.footer__info-contacts ul li a > svg:hover {
  fill: #F0145A;
  transition: all ease-in-out 0.3s;
}
.footer__copyright-text {
  font: 400 1rem "Montserrat";
  line-height: 1.25rem;
  font-style: normal;
  color: #B3B3BA;
}
@media screen and (max-width: 768px) {
  .footer__copyright-text {
    font: 400 1rem "Montserrat";
    line-height: 1.25rem;
    font-style: normal;
    color: #B3B3BA;
    text-align: center;
  }
}
@media screen and (max-width: 630px) {
  .footer__copyright-text {
    position: static;
  }
}