@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.ttf");
  font-style: normal;
  font-weight: 900;
}