

/*------1366------*/

@media screen and (max-width: 1366px) {
div.container {
	max-width: 1273px;
}
.marg {
	column-gap: 60px;
}
.cake__flex-container {
	column-gap: 40px;
} 
}


/*------1280------*/

@media screen and (max-width: 1280px) {
div.container {
	max-width: 1226px;
}
div.container-main {
	max-width: 1226px;
}
.banner__picture img {
	left: -121px;
}
.banner__info-label {
	font-size: 3.8rem;
}
.quote__item-desc {
	max-width: 870px;
}
.banner__info-label,
.banner__info-desc {
	margin-bottom: 60px;
}

.banner__info-desc {
	font-size: 1rem;
	max-width: 442px;
}
.banner__info-btn-block {
	margin-bottom: 35px;
}
div.container-small {
	max-width: 1226px;
}
.footer__navigation-item-2 {
	justify-content: space-between;
}
nav.mar-115,
nav.mar-51,
nav.mar-62 {
	margin-right: 0;
}
.benefits__img img {
	width: 596px;
}

}


/*------1024------*/

@media screen and (max-width: 1024px) {
div.container {
	max-width: 1060px;
}
.header__navigation ul {
	column-gap: 20px;
}
.banner__picture img {
	left: -66px;
	width: 559px;
	top: 52px;
}
.banner__info-label {
	width: 488px;
	font-size: 3rem;
	line-height: 60px;
}
.banner__info-label,
.banner__info-desc {
	margin-bottom: 30px;
}
.banner__info-btn-block {
	margin-bottom: 17px;
}
.benefits__img img {
	width: 489px;
}
.benefits__info {
	width: 47%;
}
.benefits__info-label {
	font-size: 2.6875rem;
	line-height: 55px;
}
.benefits__block {
	padding-bottom: 200px;
}
.quote__item > img {
	height: 270px;
}
.pad-t {
	max-width: 60%;
}
.quote__item-desc {
	font-size: 1.4rem;
	line-height: 35px;
}
.cake__flex-desc {
	font-size: 1.9rem;
	line-height: 44px;
}
div.marg {
	column-gap: 20px;
}
div.border {
	justify-content: space-around;
	border-left: 1px solid black;
	padding-left: 8px;
	column-gap: 50px;
	padding-right: 0;
}
.integrate__img img {
	width: 923px;
}
div.footer__navigation-item-2 {
	width: 68%;
	padding-left: 0;
}
div.footer__navigation-img > img {
	max-width: 280px;
}
p.footer__navigation-desc {
	font-size: 1rem;
	line-height: 27px;
	margin-bottom: 15px;
	max-width: 280px;
}
.footer__navigation-item-1 {
	max-width: 280px;
}
}

/*------768------*/

@media screen and (max-width: 768px) {
div.container {
	max-width: 760px;
}	
.cake__flex-item {
	display: block;
}
.cake__flex-subitem {
	margin: 20px 0;
}
.header__navigation {
	display: none;
}
.header__item-left {
	margin-left: 100px;
}
div.burger-btn {
	display: block;
}
div.burger-menu {
	display: block;
}
.banner__picture img {
	left: -716px;
	width: 700px;
	top: 52px;
	opacity: 0.05;
	top: 0;
}
.banner__info {
	text-align: center;
	margin: 0 auto;
}

.banner__info-btn-block {
	justify-content: center;
}
.banner__info-label, .banner__info-desc {
	margin-bottom: 50px;
}
.banner__info-btn-block {
	margin-bottom: 15px;
}
p.banner__info-desc {
	max-width: 490px;
}
.logo__flex li {
	width: 26%;
	padding-top: 15px;
}
.logo__flex {
	flex-wrap: wrap;
}

.benefits__img img {
	width: 361px;
}
.benefits__info {
	width: 47%;
}
.benefits__info-label {
	font-size: 2rem;
	line-height: 41px;
}
.benefits__block {
	padding-bottom: 150px;
}
.benefits__info-desc {
	font-size: 1rem;
	line-height: 24px;
}
p.mar-r {
	margin-right: 0;
}

.localize__flex-label {
	height: 70px;
	justify-content: center;
	display: flex;
	align-items: center;
}

.productivity__item-desc {
	font-size: 1rem;
	line-height: 26px;
	max-height: 290px;
}
.quote__item-desc {
	font-size: 1rem;
	line-height: 28px;
}
.cake__flex-image img {
	margin: auto;
}

.cake__flex-item {
	text-align: center;
}
div.border {
	padding-left: 40px;
}

.integrate__img img {
	width: 654px;
}

.integrate__label {
	font-size: 3.5rem;
	line-height: 63px;
}
.footer__navigation-flex-container {
	display: block;

}
.footer__navigation-item-2 {
	justify-content: space-around;
}
.footer__navigation-item-1 {
	max-width: 100%;
	margin: auto;
	margin-bottom: 50px;
}
.footer__navigation-list {
	text-align: center;
}
.footer__navigation-img img {
	margin: auto;
}

.footer__navigation-label {
	text-align: center;
}

p.footer__navigation-desc {
	text-align: center;
	max-width: 100%;
}

div.footer__navigation-item-2 {
	width: 100%;
}

.footer__navigation-link {
	display: block;
	width: 100%;
	text-align: center;
}
.header {
	column-gap: 10px;
	justify-content: flex-end;
}
.banner__info {
	position: relative;
	z-index: 1;
}
/*
.banner__info:before {
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 0;
	background-color: black;
	opacity: 0.2;
}
*/
}


/*------<768------*/

@media screen and (max-width: 760px) {
.header__item-right,
.banner__picture {
	display: none;
}
.logo__flex img {
	margin-bottom: 15px;
}
.header__item-left {
	margin-left: auto;
}
div.container {
	max-width: 100%;
}	
.banner__info {
	max-width: 100%;
}
.banner__info-label {
	max-width: 100%;
	font-size: 2rem;
	line-height: 48px;
}
.banner__info-btn-block,
a.banner__info-btn-orange,
a.banner__info-btn-white {
	display: block;
}

.banner__info-btn-orange,
.banner__info-btn-white {
	max-width: 50%;
	margin: auto;
}

.banner__info-btn-orange {
	margin-bottom: 10px;
}


.logo__label,
.localize__label,
.productivity__label,
.integrate__label,
.whywait__block-label,
.footer__navigation-label {
	font-size: 2rem;
	line-height: 48px;
}
.logo__flex li {
	width: 100%;
	text-align: center;
}
.benefits__block {
	display: block;
}

.benefits__block:last-of-type{
	padding-bottom: 0px;
}
.benefits__info,
.benefits__img img {
	width: 100%;
}

.benefits__info {
	padding-bottom: 50px;
}
.localize__flex-item {
	max-width: 100%;
	flex:none;
}
.productivity__flex-container {
	flex-wrap: wrap;
}
.productivity__item {
	flex: none;
	max-width: 100%;
	text-align: center;
}
.quote__flex-container {
	display: block;
}
.pad-t {
	max-width: 100%;
}
.quote__item-desc {
	max-height: 200px;
}
.quote__item {
	margin-bottom: 25px;
	text-align: center;
}
.cake__flex-container {
	display: block;
}
div.border {
	padding-left: 0;
	border-top: 1px solid black;
	border-left: none;
}
.integrate__img img {
	width: 100%;
}
.footer__navigation-item-2 {
	display: block;
}
.footer__navigation-list {
	margin-bottom: 20px;
}
.footer__info-item-1,
.footer__info-item-2,
.footer__info-flex-container {
	display: block;
}
.footer__info-item-1 img{
	margin-bottom: 15px;
}

.footer__info-text {
	margin-bottom: 15px;
}
.footer__navigation-list {
	text-align: center;
}
.benefits__info, 
.benefits__img img {
	text-align: center;
}
.banner,
.logo,
.benefits,
.localize,
.productivity,
.quote,
.cake,
.integrate,
.whywait {
	padding: 70px 0 70px 0;
}
.benefits__block {
	padding-bottom: 50px;
}
.productivity__item-desc {
	height: fit-content;
}
.productivity__item {
	margin-bottom: 25px;
}
.hidden {
	display: none;
}
div.for-768 {
	display: block;
}
.cake__flex-item {
	margin-bottom: 20px;
}
}
