.burger-btn {
	display: none;
}
.header__navigation{
	position: relative;
}
.burger {

	background-color: #FFF8E4;
	z-index: 2;
	width: 100%;
	position: fixed;
	top: 110%;
	left: 0;
	bottom: 0;
	right: 0;
}
.burger__container {
	z-index: 4;
	max-height: 80vh;
	max-width: 90vw;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	left: 2%;
	top: 15%;
	overflow: hidden;
}
.burger__container ul {
	margin-bottom: 20px;
}
.burger__container li {
	background-color:#FF9C7D;
}

.burger.show .burger__container {
	margin-bottom: 10px;
	opacity: 1;
	pointer-events: initial;
}
.burger__item, .burger__navigation-services-item {
	border: 1px solid black;
}

.burger__container a {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 16px;
	text-align: center;
	display: block;
	padding: 16px 0;
	color: black;
	background-color: #FF9C7D;
	
}

.burger__container a:hover {
	background-color: #FFF8E4;
	color: #f88360;
}

.burger__item a, .burger__navigation-services-item a {
	color: #ffffff;
}

.burger__contacts a {
	padding: 17px 0;
}

.burger__contacts-phone, .burger__contacts-btn {
	display: block;
	font-family: 'Graphik LC TT';
	font-style: normal;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 16px;
}

.burger.show {
	top: 0;
}
.burger-menu {
	
	display: none;
}

#menu__toggle {
	opacity: 0;
 }

 .menu__btn {
	display: flex;
	align-items: center;
	position: absolute;
	left: 8%;
	top: 2.5%;
	width: 50px;
	height: 50px;
	cursor: pointer;
	z-index: 3;
}

.burger-buttons {

}

 .menu__btn > span,
 .menu__btn > span::before,
 .menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: #000000;
 }
 .menu__btn > span::before {
	content: '';
	top: -10px;
 }
 .menu__btn > span::after {
	content: '';
	top: 10px;
 }

.menu__btn.active span {
	background-color: transparent;
 }
 .menu__btn.active span::before {
	top: 0;
	transform: rotate(45deg);
 }
 .menu__btn.active span::after{
	top: 0;
	transform: rotate(-45deg);
 }
