@import url('../css/fonts.css');
@import url('../css/style-null.css');
@import url('../css/header.css');
@import url('../css/main.css');
@import url('../css/footer.css');
@import url('../css/adapt.css');
@import url('../css/burger-menu.css');

::-webkit-scrollbar {
	width: 15px;
	background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
	background-color: #FF6336;
	border-radius: 10px;
	box-shadow: inset 1px 1px 10px #ebe2df;
}

::-webkit-scrollbar-thumb:hover {
	box-shadow: inset 1px 1px 10px #0a0300;
}



.container {
	max-width: 1368px;
	padding: 0 15px;
	margin: 0 auto;
}

.container-main {
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
}

.container-small {
	max-width: 1273px;
	padding: 0 15px;
	margin: 0 auto;
}

.container-middle {
	max-width: 1226px;
	padding: 0 15px;
	margin: 0 auto;
}

.container-little {
	max-width: 1060px;
	padding: 0 15px;
	margin: 0 auto;
	
}

.button {
	font-family: 'Graphik LC TT';
	font-style: normal;
	font-weight: 600;
	text-align: center;
}

.text {
	font-family: 'Graphik LC TT';
	font-style: normal;
	font-weight: 400;
}

.text-bold {
	font-family: 'Graphik LC TT';
	font-style: normal;
	font-weight: 600;
}

.underline {
	text-decoration: underline;
	color: #000000;
}

.desc-w-h {
	max-width: 491px;
	max-height: 120px;
}

.desc-h {
	max-width: 525px;
	max-height: 150px;
}

.desc-wid {
	max-width: 450px;
	max-height: 150px;
}

.desc-h-2 {
	max-width: 520px;
	max-height: 120px;
}

.mar-r {
	margin-right: 70px;
}

.vert-al {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.pad-t {
	padding-top: 10px;
}
.marg {
	column-gap: 67px;
}
.btn-white {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.5);
	color: #000000;
}
.btn-orange {
	color: #FFFFFF;
	background-color: #FF6336;
	border:  1px solid #ffffff;
}

.mar-115 {
	margin-right: 113px;
}

.mar-51 {
	margin-right: 51px;
}

.mar-62 {
	margin-right: 62px;
}

.fixed {
	overflow:hidden;
	width:100%; 
}

.scroll {
	overflow: auto;	 
}

.for-768 {
	display: none;
}

.hid {
	display: none;
}