/*------main section banner-------*/

.banner {
	display: flex;
	padding: 129px 0 172px 0;
}

.banner__info-label {
	width: 552px;
	font-size: 4.0625rem;
	line-height: 70px;
	color: #000000;
	margin-bottom: 51px;
}
.banner__info-desc {
	font-size: 1.5625rem;
	line-height: 30px;
	color: #000000;
	margin-bottom: 50px;
	max-width: 471px;
}
.banner__info-btn-block {
	display: flex;
	column-gap: 10px;
	align-items: center;
	margin-bottom: 25px;
}
.banner__info-btn-white {
	font-size: 1rem;
	line-height: 60px;
	padding: 0 29px;
	transition: all ease-in-out 0.3s;
}
.banner__info-btn-white:hover {
	border:  1px solid #ffffff;
	color: #FFFFFF;
	background-color: #FF6336;
}
.banner__info-btn-orange {
	font-size: 1rem;
	line-height: 60px;
	padding: 0 41px 0 42px;
	transition: all ease-in-out 0.3s;
}

.banner__info-btn-orange:hover {
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.5);
}

.banner__info-text {
	font-size: 0.9375rem;
	line-height: 25px;
	color: #000000;
}
.banner__picture img {
	position: absolute;
	width: 759px;
	left: -28px;
	top: 22px;
}

.banner__picture {
	position: relative;
	padding-top: 22px;
}

/*-----------section logo --------*/

.logo {
	background-color: #FF9C7D;
	padding: 108px 0 105px 0;
}

.logo__flex {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo__label {
	max-width: 720px;
	width: 100%;
	font-size: 50px;
	line-height: 60px;
	text-align: center;
	color: #000000;
	margin: 0 auto 82px auto;
}

/*------------section benefits---------------*/

.benefits {
	padding-top: 90px;
}
.benefits__block {
	display: flex;
	padding-bottom: 250px;
	justify-content: space-between;
}

.benefits__block:last-of-type {
	padding-bottom: 150px;
}
.benefits__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 30px;
}
.benefits__info-label {
	font-size: 50px;
	line-height: 60px;
	color: #000000;
	max-width: 494px;
	overflow: hidden;
}
.benefits__info-desc {
	font-size: 1.25rem;
	line-height: 30px;
	color: #000000;
	overflow: hidden;
}

.benefits__info-link {
	font-size: 1.25rem;
	line-height: 30px;
	color: #000000;
	transition: all ease-in-out 0.3s;
}

.benefits__info-link:hover {
	color: #FF6336;
}


/*-----------section localize----------*/

.localize {
	background-color: #FFF8E4;
	padding: 120px 0 147px 0;
}

.localize__label {
	font-size: 3.125rem;
	line-height: 60px;
	color: #000000;
	text-align: center;
	margin-bottom: 79px;
	overflow: hidden;
}
.localize__flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	row-gap: 75px;
}
.localize__flex-item {
	text-align: center;
	flex: 0 1 calc((100% - 10%) / 3);
}

.localize__flex-label {
	font-size: 1.5625rem;
	line-height: 35px;
	text-align: center;
	color: #000000;
	overflow: hidden;
	margin-bottom: 23px;
}
.localize__flex-desc {
	font-size: 1.125rem;
	line-height: 25px;
	text-align: center;
	color: #000000;
	overflow: hidden;
}

/*-----------section productivity ---------------*/


.productivity {
	padding: 154px 0 187px 0;
}
.productivity__flex-container {
	display: flex;
	justify-content: space-between;
	column-gap: 31px;
}
.productivity__label {
	font-size: 3.125rem;
	line-height: 60px;
	color: #000000;
	overflow: hidden;
	margin-bottom: 75px;
	text-align: center;
}
.productivity__item {
	flex: 1 1 calc((100% - 31px) / 3);
	text-align: left;
}
.productivity__item-img {
	height: 205px;
	margin-bottom: 49px;
}

.productivity__item-label {
	font-size: 1.875rem;
	line-height: 40px;
	color: #000000;
	margin-bottom: 34px;
	overflow: hidden;
}
.productivity__item-desc {
	font-size: 1.25rem;
	line-height: 30px;
	color: #000000;
	margin-bottom: 25px;
	max-height: 180px;
	height: 100%;
	overflow: hidden;
}
.productivity__item-link {
	font-size: 1.25rem;
	line-height: 30px;
	color: #000000;
	transition: all ease-in-out 0.3s;
}

.productivity__item-link:hover {
	color: #FF6336;
}

/*------------section quote--------------*/

.quote {
	background-color: #C9E8F2;
	padding: 53px 0 105px 0;
}

.quote__flex-container {
	display: flex;
	justify-content: space-between;
}
.quote__item > img {
	height: 310px;
}

.quote__item-desc {
	margin-bottom: 23px;
	font-size: 1.875rem;
	line-height: 40px;
	color: #000000;
	max-width: 910px;
	max-height: 160px;
	overflow: hidden;
}

.quote__item-sign {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 0.9375rem;
	line-height: 25px;
	color: #000000;
}


/*-----------section cake------------*/
.cake {
	background-color:#DABC98;
	padding: 90px 0 88px 0;
}

.cake__flex-container {
	display: flex;
	column-gap: 124px;
}

.border {
	border-left: 1px solid black;
	padding-right: 71px;
	padding-left: 71px;
	column-gap: 71px;
}
.cake__flex-item {
	display: flex;
	align-items: center;
}
.cake__flex-image img{
	display: block;
}
.cake__flex-image > img {
	margin-bottom: 19px;
}
.cake__flex-image img:last-of-type {
	margin-bottom: 15px;
}
.cake__flex-desc {
	font-size: 2.1875rem;
	line-height: 50px;
	color: #000000;
}
.cake__flex-subitem {

	margin: 10px 0;
}

.cake__flex-text {
	text-transform: uppercase;
}

/*-----------section integrate --------*/

.integrate {
	background-color: #ffffff;
	padding: 165px 0 162px 0;
	text-align: center;
}
.integrate__flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.integrate__label{
	font-size: 4.0625rem;
	line-height: 75px;
	text-align: center;
	color: #000000;
	max-width: 791px;
	overflow: hidden;
}
.integrate__desc {
	font-size: 1.5625rem;
	line-height: 30px;
	color: #000000;
	max-width: 539px;
	height: 60px;
	overflow: hidden;
	margin-bottom: 25px;
}
.integrate__img {
	margin-bottom: 32px;
}
.integrate__btn {
	font-size: 1rem;
	padding: 0 20px;
	line-height: 60px;
	transition: all ease-in-out 0.3s;
}

.integrate__btn:hover {
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.5);
}



/*----------section whywait--------------*/

.whywait {
	background-color: #FF9C7D;
	padding: 119px 0 161px 0;
}

.whywait__block {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.whywait__block-label {
	font-size: 4.0625rem;
	line-height: 75px;
	text-align: center;
	color: #000000;
	margin-bottom: 29px;
	max-width: 784px;
	overflow: hidden;
}

.whywait__block-desc {
	font-size: 1.25rem;
	line-height: 30px;
	text-align: center;
	color: #000000;
	margin-bottom: 54px;
	max-width: 438px;
	height: 30px;
	overflow: hidden;
}
.whywait__block-btn {
	font-size: 1.0625rem;
	line-height: 60px;
	text-align: center;
	background-color: #000000;
	padding: 0 40px;
	color: #FFFFFF;
	transition: all ease-in-out 0.3s;
}

.whywait__block-btn:hover {
	background-color: #ffffff;
	color: #000000;
}
