@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "SpectralSC";
  src: url("../fonts/SpectralSC-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "SpectralSC";
  src: url("../fonts/SpectralSC-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "SpectralSC";
  src: url("../fonts/SpectralSC-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
.burger {
  z-index: 3;
  position: fixed;
  transition: all ease-in-out 0.3s;
}
.burger__container {
  transition: all ease-in-out 0.3s;
  width: 100%;
  transform: translateY(-100%);
  height: 100vh;
  max-width: 100%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  left: 0%;
  bottom: 0%;
  overflow: hidden;
  padding: 53px 20px;
  background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
}
.burger.show .burger__container {
  opacity: 1;
  transform: translateY(0);
  pointer-events: initial;
  transition: all ease-in-out 0.3s;
}
.burger__item a {
  font: 600 normal 1.5rem "Montserrat";
  line-height: 1.8125rem;
  color: #FFFFFF;
  text-align: center;
  display: block;
  padding: 15px 0;
}
.burger__item a:hover, .burger__item a:active {
  color: #424242;
}
.burger.show {
  top: 0;
}
.burger__list-menu {
  display: none;
}
@media screen and (max-width: 780px) {
  .burger__list-menu {
    display: block;
    height: 65vh;
  }
}
.burger__list-menu li {
  margin: 10px 0;
  font: 600 normal 1.5rem "Montserrat";
  line-height: 1.8125rem;
  color: #FFFFFF;
  text-align: center;
  display: block;
  padding: 15px 0;
  background: linear-gradient(168deg, #976464 -20.03%, #CFA5A5 106.75%);
}
.burger__list-menu li:hover, .burger__list-menu li:active {
  background: linear-gradient(354deg, #976464 -20.03%, #CFA5A5 106.75%);
  box-shadow: inset 1px 1px 17px 7px rgba(255, 255, 255, 0.2);
}
.burger__list-menu li.address-block {
  background: none;
  color: #424242;
}
.burger__list-menu li p {
  margin-bottom: 10px;
}

.menu__btn {
  z-index: 23;
  position: absolute;
  right: 22px;
  top: 4px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: none;
}
@media screen and (max-width: 780px) {
  .menu__btn {
    display: block;
  }
}
.menu__btn span {
  width: 40px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  transition: all ease-in-out 0.3s;
}
.menu__btn span:nth-of-type(2) {
  top: calc(50% - 10px);
}
.menu__btn span:nth-of-type(3) {
  top: calc(50% + 10px);
}
.menu__btn.active span:nth-of-type(1) {
  display: none;
}
.menu__btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
  background-color: #FFFFFF;
}
.menu__btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
  background-color: #FFFFFF;
}

.fixed {
  overflow: hidden;
  width: 100%;
}

.scroll {
  overflow: auto;
}

#menu__toggle {
  opacity: 0;
}