.swiper {
  overflow: hidden;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: 187px;
}
@media screen and (max-width: 1024px) {
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 75px;
  }
}
@media screen and (max-width: 980px) {
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 35px;
  }
}
@media screen and (max-width: 767px) {
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 25px;
  }
}
.swiper-button-next, .swiper-button-prev {
  bottom: 37px;
  top: auto;
}
@media screen and (max-width: 980px) {
  .swiper-button-next, .swiper-button-prev {
    bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .swiper-button-next, .swiper-button-prev {
    bottom: 15px;
  }
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 37px;
  right: 212px;
  left: auto;
  width: fit-content;
}
@media screen and (max-width: 1024px) {
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    right: 100px;
  }
}
@media screen and (max-width: 980px) {
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 20px;
    right: 50px;
  }
}
@media screen and (max-width: 767px) {
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 15px;
    right: 40px;
  }
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  right: 262px;
  left: auto;
}
@media screen and (max-width: 1024px) {
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    right: 149px;
  }
}
@media screen and (max-width: 980px) {
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    right: 89px;
  }
}
@media screen and (max-width: 767px) {
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    right: 79px;
  }
}

.swiperTwo {
  position: relative;
  overflow: hidden;
}

.main__slider-popular-container > .swiper-slide {
  width: 20%;
}

.swiper-button-next-2, .swiper-button-prev-2 {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev-2, .swiper-rtl .swiper-button-next-2 {
  left: 85px;
  right: auto;
}
@media screen and (max-width: 1876px) {
  .swiper-button-prev-2, .swiper-rtl .swiper-button-next-2 {
    left: 48%;
  }
}
@media screen and (max-width: 677px) {
  .swiper-button-prev-2, .swiper-rtl .swiper-button-next-2 {
    left: 45%;
  }
}

.swiper-button-next-2, .swiper-rtl .swiper-button-prev-2 {
  right: 85px;
  left: auto;
}
@media screen and (max-width: 1876px) {
  .swiper-button-next-2, .swiper-rtl .swiper-button-prev-2 {
    right: 48%;
  }
}
@media screen and (max-width: 677px) {
  .swiper-button-next-2, .swiper-rtl .swiper-button-prev-2 {
    right: 45%;
  }
}

.swiper-button-next-2, .swiper-button-prev-2 {
  bottom: calc(50% - 64px - 43px + 64px - 17px);
  top: auto;
}
@media screen and (max-width: 1876px) {
  .swiper-button-next-2, .swiper-button-prev-2 {
    bottom: 30px;
  }
}

.swiper-button-prev-2:after, .swiper-rtl .swiper-button-next-2:after {
  content: "prev";
}

.swiper-button-next-2:after, .swiper-button-prev-2:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-next-2:after, .swiper-rtl .swiper-button-prev-2:after {
  content: "next";
}

.swiper-button-next-2:after, .swiper-button-prev-2:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

body {
  --swiper-navigation-size: 17px;
  --swiper-theme-color: #976464;
}