.switcher-button {
  text-align: center;
}
@media screen and (max-width: 424px) {
  .switcher-button {
    margin-bottom: 20px;
  }
}
.switcher-button.hidden {
  display: none;
}

.switch-btn {
  display: inline-block;
  width: 72px;
  height: 34px;
  border-radius: 65px;
  background: #ddd9d9;
  z-index: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms;
}
.switch-btn:after {
  content: "";
  height: 34px;
  width: 36px;
  border-radius: 50px;
  background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
  top: 0px;
  left: 0px;
  transition-duration: 300ms;
  position: absolute;
  z-index: 1;
}

.switch-on {
  background: #ddd9d9;
}
.switch-on.active {
  background: green;
}
.switch-on:after {
  content: "";
  left: 35px;
}